
* {
    overflow-y: hidden;
}

/*--- BASICS ---*/

.heroImg {
    max-width: 70%;
}

.annersRed {
    color: rgb(245, 91, 73);
    font-weight: 600;

}

.annersTeal {
    color: #167d7d;
    font-weight: 600;
}


/* IMAGES */
.projectImg {
    padding: 2vw 2vw 2vw 2vw;
    max-width: 100%;
}

.projectImgLessPadding {
    max-width: 100%;
    padding: 2vw 0.2vw 2vw 0.2vw;
}

.lessHeight {
    max-height: 50vh;
    padding: 2vw 0.2vw 2vw 0.2vw;
    max-width: 100%;
}

iframe {
    max-width: 100%;
}

/* HEADING SECTION */
.heroImg {
    max-width: 70%;
}

.offsetHeadlineLeft {
    padding-left: 3vw;
}

.openerSection {
    padding-bottom: 5vw;
}

.hugeImg {
    max-width: 90%;
}











/* SLIDE IN WHEN IN VIEW */

* {
    @include box-sizing(border-box);
}


.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 0.6s;
}

.already-visible {
    transform: translateY(0);
    animation: none;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}







/*--- BASICS ---*/

.projDescrDiv {
    max-width: 100vw;
}

.imgDivPad {
    padding: 2vw 2vw 2vw 2vw;
}

/* Next & Previous Buttons */
.nextPrevBtnDiv {
    padding: 2vw;
}

/* 
xs   <576px	
sm  ≥576px	
md  ≥768px	
lg  ≥992px	
xl  ≥1200px	
xxl ≥1400px
*/
@media only screen and (max-width: 2000px) {
    .secA {
        padding: 4vw 5vw 4vw 5vw;
    }
}


@media only screen and (max-width: 1400px) {
    .secA {
        padding: 0vw 2vw 0vw 2vw;
    }
}

@media only screen and (max-width: 1200px) {
    .starterText {
        min-height: 0vh;
    }
}


@media only screen and (max-width: 992px) {
    .projectDescription {
        padding-left: 2vw;
    }
}


@media only screen and (max-width: 768px) {

    /*  no padding after first headline  */
    .starterText {
        min-height: 0vh;
        text-align: center;
    }

    .offsetHeadlineLeft {
        padding-left: 0vw;
    }

    /* Project Images */
    .projectImg {
        max-width: 100%;
    }

    .addPadding {
        padding: 5vw 5vw 5vw 5vw;
    }

    .secArow {
        min-height: 0vh;
        padding-left: 6vw;
    }
    .openerSection div{
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
        .openerSection {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .smallerStarterText{
    font-size: calc(100% + 3.3vw + 3.3vh);
}

}




/* Image border adjustments */

.imgBorder {
    border-style: solid;
    border-width: 0.5px;
    border-color: #BDBDBD;
    padding: 0;
    margin: 2vw 0.2vw 2vw 0.2vw;
}
